:root {
  --darkest-blue: #013f69;
  --dark-blue: #094977;
  --medium-blue: #0090c4;
  --light-blue: #6dd7ff;
  --accent-yellow: #f9b712;
  --accent-red: #c31030;
  --font-size-h1: 3rem;
  --font-weight-h1: 600;
  --default-font-family: "Oswald", sans-serif;
  --default-font-family-body: "Arial", sans-serif;
  --default-font-weight: 500;
  --default-text-color: white;
  --dark-text-color: var(--darkest-blue);
  --black-text-color: black;
  --box-shadow-color: rgba(48, 48, 48, 0.75);
  --default-transition-time: 0.2s;
}

* {
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  color: var(--default-text-color);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

a :hover,
button :hover {
  cursor: pointer;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to right, var(--dark-blue), var(--medium-blue));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: 0 5px 5px var(--box-shadow-color);
}
nav .logo {
  width: 10rem;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul .user-action-buttons a {
  padding: 5px 30px;
  border-radius: 10rem;
  margin-right: 20px;
}
nav ul .user-action-buttons #nav-volunteer-link {
  background-color: var(--accent-yellow);
  color: var(--darkest-blue);
}
nav ul .user-action-buttons #nav-donate-link {
  background-color: var(--accent-red);
}
nav ul .social-icons a {
  margin-right: -15px;
}

#hero {
  height: 80vh;
}
#hero .hero-form-container {
  position: absolute;
  background: linear-gradient(to top right, var(--dark-blue) 20%, var(--medium-blue) 60%, var(--accent-yellow));
  height: 100%;
  width: 45%;
  clip-path: polygon(0% 0%, 0% 80%, 100% 80%, 65% 0%);
  padding: 7rem 6rem 3rem 3rem;
}
#hero .hero-form-container .logo {
  width: 17rem;
}
#hero .hero-form-container h1 {
  margin: 3rem 0 1rem 0;
  line-height: 1;
}
#hero .hero-form-container form {
  display: grid;
  grid-template-areas: "email email" "phone zip" "signup signup";
  gap: 10px;
  width: 75%;
}
#hero .hero-form-container form input {
  border: 2px solid white;
  height: 3rem;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  font-family: var(--default-font-family-body);
}
#hero .hero-form-container form input::placeholder {
  color: white;
}
#hero .hero-form-container form #email {
  grid-area: email;
}
#hero .hero-form-container form #phone {
  grid-area: phone;
}
#hero .hero-form-container form #zip {
  grid-area: zip;
}
#hero .hero-form-container form button {
  grid-area: signup;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  color: var(--darkest-blue);
  background-color: var(--light-blue);
  font-size: 1.2rem;
  font-weight: 700;
}
#hero .hero-form-container form button[type=submit]:hover {
  cursor: pointer;
  background-color: var(--accent-yellow);
  transition: var(--default-transition-time);
}
#hero #hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, var(--dark-blue), var(--medium-blue));
  width: 80vw;
  margin: 5rem auto;
  padding: 3rem 5rem;
}
#donate h1 {
  width: fit-content;
}
#donate .donation-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}
#donate .donation-links-container a {
  width: 30vw;
  border: 3px solid var(--light-blue);
  background-color: var(--darkest-blue);
}
#donate .donation-links-container a h1 {
  margin: 0 auto;
}
#donate .donation-links-container a span {
  font-size: 30px;
}
#donate .donation-links-container a:hover {
  border-color: var(--darkest-blue);
  background-color: var(--accent-yellow);
  cursor: pointer;
  transition: var(--default-transition-time);
}
#donate .donation-links-container a:hover h1,
#donate .donation-links-container a:hover span {
  color: var(--darkest-blue);
  transition: var(--default-transition-time);
}

#about {
  margin: 5rem 13rem;
}
#about h1 {
  color: var(--dark-text-color);
  margin-bottom: 3rem;
}
#about img {
  height: 40vh;
  min-height: 300px;
}
#about div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#about .about-section-1 {
  margin-bottom: 5rem;
}
#about .about-section-1 .about-section-banner {
  background: linear-gradient(60deg, var(--darkest-blue) 70%, var(--accent-yellow));
  opacity: 83%;
  height: 120px;
  padding: 1.3rem 6rem 1.3rem 2rem;
  position: relative;
  left: -40px;
}
#about .about-section-1 .about-section-banner p {
  font-family: var(--default-font-family-body);
  font-size: 1.5rem;
  line-height: 1.5;
}
#about .about-section-2 {
  flex-direction: row-reverse;
  justify-content: space-between;
}
#about .about-section-2 p {
  color: var(--black-text-color);
  font-family: var(--default-font-family-body);
  height: 40vh;
  max-width: 40%;
}

footer {
  background-color: var(--dark-blue);
  padding: 5rem 4rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  font-size: 13px;
}
footer .footer-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
footer .footer-section-1 .logo {
  width: 12rem;
}
footer .footer-section-1 p {
  font-family: var(--default-font-family-body);
  border: 1px solid white;
  padding: 10px 50px;
}
footer .footer-section-2 {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
footer .footer-section-2 a, footer .footer-section-2 p {
  font-family: var(--default-font-family-body);
}
footer .footer-section-2 a {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
